<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4 text-center">Eat-Da-Burger!</h1>


    <h2>Add a burger</h2>
    <form class="create-form">

      <div class="form-group d-flex justify-content-center">
        <label for="bu">Burger Name:</label>
        <input type="text" id="bu" name="name" placeholder="burger">
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit">Submit</button>
      </div>
    </form>

    <li class="list-group-item">

      {{burger_name}}

      <button class="change-devoured btn btn-success" data-id="{{id}}" data-devoured="{{devoured}}">
          {{#unless devoured}} Eat Da Burger! {{else}} Add back to menu? {{/unless}}
      </button>

      <button class="delete-burger btn btn-danger" data-id="{{id}}">Delete burger</button>

    </li>

    <div class="row">
      <div class="col-xl-6">
        <h3 class="text-center">Uneaten Burgers</h3>
        <div class="card">
          <ul class="list-group list-group-flush">
            {{#each burgers}}

            {{#unless devoured}}

            {{/unless}}
            {{/each}}            
          </ul>
        </div>
      </div>

      <div class="row">
      <div class="col-xl-6">
        <h3 class="text-center">Eaten Burgers</h3>
        <div class="card">
          <ul class="list-group list-group-flush">
            {{#each burgers}}

            {{#if devoured}}

            {{/if}}
            {{/each}}            
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>